@using DemoArea.Areas.LOC_State.Models;
@using System.Data;
@model LOC_StateModel;

<html>
<body>

    <div class="pagetitle">
        <h1>State Edit Page</h1>
    </div>

    <br />

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Update State Details</h5>
            <form class="row g-3" method="post" asp-area="LOC_State" asp-controller="LOC_State" asp-action="LOC_StateEditFormPage">

                <div class="col-md-6">
                    <label for="inputName5" class="form-label">CountryID:</label>
                    <input type="text" value="@ViewBag.CountryID" id="countryID" name="countryID" class="form-control" required />
                </div>

                <div class="col-md-6">
                    <label for="inputName5" class="form-label">StateName:</label>
                    <input type="text" value="@ViewBag.StateName" id="stateName" name="stateName" class="form-control" required />
                </div>

                <div class="col-md-6">
                    <label for="inputName5" class="form-label">StateCode:</label>
                    <input type="text" value="@ViewBag.StateCode" id="stateCode" name="stateCode" class="form-control" required />
                </div>

                <div>
                    <input type="hidden" name="StateID" value="@ViewBag.StateID" />
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>

</body>
</html>
